name: CI/CD Frontend

on:
  push:
    paths:
      - 'frontend/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
